body{
    background-color:#353537 ;
    color:white;
    height: 100vh;
}
h1.title{
    text-align: center;
}
ul.nav.justify-content-center{

    background: #363652;
}

a.nav-link.active{
    color: white;
}