

.Menu_Butoon{

  display: flex;
  justify-content: space-around;

}
.navd{
  display: flex;
background: rgb(51, 54, 65);
justify-content: space-between;
padding: 0.5em;
}

div#vu {
    background: rgb(0,0,0,0.2);
    display: flex;
    border-right: 1px solid #fafafa78;
    width: 50%;
    justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
}

div#vu>img {
    width: 25px;
    height: 25px;
    margin: auto;
}
button#search>img{
  width: 25px;
}
.c {
    background: rgb(0,0,0,0.2);
    margin: 0;
    padding: 0;
    display: flex;
    border: 0;
}
#export{

    display: flex;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: rgb(255,255,255,0.1);
    color: white;
    margin: 0;
}

button#search {
    padding: 5px;
    border: none;
    text-align: center;
    background: rgb(0,0,0,0.2);
    display: flex;
}
.input-group.tout {
    top: 0;
    display: flex;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: rgb(255,255,255,0.1);
    color: white;
    width: 20em;
}
.H{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

td:nth-child(6) {
    background: #363652;
    color: white;
}

.tableau {
    width: 90vw;
    margin: auto;
}

iframe{
  border:none;
  width: 25px;
  height: 25px;
}

.av_icon,th>p{
      display: inline-table;
}
thead>th{
display: flex;

}
.table tr:nth-child(2n){
  background: #e5e5e5;
}
.table tr, .table th {
background: #fafafa;
}

.Menu_Butoon {
    justify-content: space-around;
    display: flex;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: rgb(255,255,255,0.1);
}
.audd {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
button#P00, button#P15, button#P12 {
    background: rgb(0,0,0,0.1);
    color: white;
    border-left: 1px solid rgb(255,255,255,0.1);
    border-radius: 0;
}
